<div id="{{'motion-lighting-classroom-'+data.id}}" class="motion-lighting-display card bg-light mb-3">
    <div class="classroom-title card-header"><span>Classroom #{{data.number}}</span></div>
    <div class="card-body">
        <div>
            <app-motion-sensor 
                [lastMotionDetection]=this.data.lastMotionDetection>
            </app-motion-sensor>
        </div>
        <hr>
        <div>
            <app-lighting-sensor 
                [light]=this.data.light>
            </app-lighting-sensor>
        </div>
    </div>
</div>