@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background: #f1f1f1;
}

.ripple {
    background-position: center;
    transition: background 1s;
}
.ripple:hover {
    background: white radial-gradient(circle, transparent 1%, white 1%) start/15000%;
}
.ripple:active {
    background-color: #ccc;
    background-size: 100%;
    transition: background 0s;
}